
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{/user/fragments/head :: head(pageTitle='Blog Tìm kiếm việc làm')}">

</head>
<body id="top">

<div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->


  <!-- NAVBAR -->
  <div th:replace="~{/user/fragments/navbar :: navbar}"> </div>

  <!-- HOME -->
  <section class="section-hero overlay inner-page bg-image" style="background-image: url('/assets1/images/hero_1.jpg');" id="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="text-white font-weight-bold">Danh sách bài viết </h1>
          <div class="custom-breadcrumbs">

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section">
    <div class="container">
      <div class="row mb-5" id="blog-list">


      </div>


    </div>
  </section>

  <footer th:replace="~{/user/fragments/footer :: footer}"></footer>


</div>

<!-- SCRIPTS -->
<div th:replace="~{/user/fragments/script :: script}"></div>


<script>

    // Sử dụng axios để lấy dữ liệu công việc từ API
    axios.get('/admin/Blog/data')
        .then(response => {
            const blogList = document.getElementById("blog-list");

            // Duyệt qua từng công việc và tạo nội dung HTML
            response.data.forEach(blog => {
                const blogItem = `
            <div class="col-md-6 col-lg-4 mb-5">
              <a onclick="detailsBlog(${blog.blogId})">
                <img style="width: 120%; height: 250px; object-fit: cover;"src="${blog.image}" alt="Image" class="img-fluid rounded mb-4">
              </a>
              <h4><a href="/Blog-detail/${blog.blogId}" class="text-black">${blog.title}</a></h4>
              <div>
                ${blog.createdDate}
                  <span class="mx-2">
                  </span>

              </div>
            </div>
                `;
                blogList.insertAdjacentHTML('beforeend', blogItem);
            });
        })
        .catch(error => {
            console.error("Error fetching job data:", error);
        });


  function detailsBlog(blogId) {
      window.location.href = `/Blog-detail/${blogId}`; // Ví dụ cách điều hướng
  }

</script>

</body>
</html>