<!-- Side Nav START -->
<div class="side-nav" th:fragment="sidenav" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">


            <li>
                <a class="dropdown-toggle" href="/employer/home">
                                <span class="icon-holder">
									<i class="anticon anticon-hdd"></i>
								</span>
                    <span class="title">Trang chủ </span>
                    <span class="arrow">
									<i class="arrow-icon"></i>
								</span>
                </a>
            </li>
            <li >
                <a class="dropdown-toggle" href="/employer/Jobs">
                                <span class="icon-holder">
                                    <i class="anticon anticon-form"></i>
                                </span>
                    <span class="title">Quản lý danh sách công việc </span>
                    <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                </a>

            </li>
            <li >
                <a class="dropdown-toggle" href="/employer/applications">
                                <span class="icon-holder">
                                    <i class="anticon anticon-form"></i>
                                </span>
                    <span class="title">Quản lý danh sách ứng tuyển  </span>
                    <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                </a>

            </li>
            <li>
                <a class="dropdown-toggle" href="/employer/statistical">
                                <span class="icon-holder">
                                    <i class="anticon anticon-lock"></i>
                                </span>
                    <span class="title">Thống kê</span>
                    <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                </a>

            </li>
        </ul>
    </div>
</div>
<!-- Side Nav END -->