<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{admin/fragments/head :: head}">

</head>

<body>
<div class="app">
    <div class="layout">
        <div th:replace="~{admin/fragments/header :: header}"> </div>
        <div th:replace="~{admin/fragments/sidenav :: sidenav}"> </div>


        <!-- Page Container START -->
        <div class="page-container">


            <!-- Content Wrapper START -->
            <div class="main-content">
                <form id="addJobForm">
                    <div class="page-header no-gutters has-tab">
                        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                            <div id="responseMessage" class="alert alert-danger" style="display :none;"  ></div>


                        </div>
                    </div>
                    <div class="tab-content m-t-15">
                        <div class="tab-pane fade show active" id="product-edit-basic" >
                            <div class="card">
                                <div class="card-body">
                                    <input type="hidden" name="jobId" id="jobId" />
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="branch">Ngành nghề </label>
                                        <select class="form-control" id="branch" >

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="jobName"> Tên công việc  </label>
                                        <input type="text" class="form-control" id="jobName" >
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="jobDetails">Chi tiết tuyển dụng </label>
                                        <textarea name="jobDetails" id="jobDetails" class="form-control"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="jobAddress">Địa điểm làm việc  </label>
                                        <input type="text" class="form-control" id="jobAddress" >

                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="Salary">Lương</label>
                                        <input type="text" class="form-control" id="Salary" required>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="isActive" checked >
                                            <label class="form-check-label" for="isActive">Hoạt động</label>
                                        </div>
                                    </div>

                                    <div class="m-b-15 text-right ">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="anticon anticon-save"></i>
                                            <span>Lưu </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

            </div>


        </div>
        <!-- Page Container END -->


        <!-- Search End-->

        <!-- Quick View START -->

        <!-- Quick View END -->
    </div>
</div>


<div th:replace="~{admin/fragments/script :: script}"></div>

<script>

    ClassicEditor
    .create(document.querySelector('#jobDetails'), {
        ckfinder: {
            uploadUrl: '/api/images/upload',
            headers: {
                'X-Requested-With': 'XMLHttpRequest' // Giúp Spring Boot nhận diện đây là yêu cầu AJAX
            }
        }
    })
    .then(editor => {
        editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
            return {
                upload: () => loader.file
                    .then(file => {
                        const formData = new FormData();
                        formData.append('file', file);

                        return fetch('/api/images/upload', {
                            method: 'POST',
                            body: formData
                        })
                        .then(response => response.text())  // Đọc phản hồi dưới dạng văn bản
                        .then(url => {
                            // Đảm bảo rằng phản hồi là URL hợp lệ
                            if (!url.startsWith('http')) {
                                throw new Error('Invalid response from server');
                            }
                            return { default: url };  // Trả về URL cho CKEditor
                        });
                    })
            };
        };
    })
    .catch(error => {
        console.error('Error initializing CKEditor:', error);
    });



    document.addEventListener("DOMContentLoaded", function() {
           fetch('/admin/Branch/data') // API để lấy danh sách quyền
                .then(response => response.json())
                .then(data => {
                    let branchropdown = document.getElementById('branch');
                    data.forEach(branch => {
                        let option = document.createElement('option');
                        option.value = branch.branchId; // Giá trị là roleId
                        option.text = branch.branchName; // Tên quyền
                        branchropdown.appendChild(option);
                    });

                })
                .catch(error => {
                    console.error('Error fetching branch:', error);
                });
           });
    document.getElementById('addJobForm').addEventListener('submit', async function(event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của biểu mẫu

        const jobData = {
            jobName: document.getElementById('jobName').value.trim(),
            jobDetails: document.getElementById('jobDetails').value.trim(),
            jobAddress: document.getElementById('jobAddress').value,
            branch: {
             branchId: document.getElementById('branch').value
            },
            Salary: document.getElementById('Salary').value,
            isActive: document.getElementById('isActive').checked,

        };

        try {
            const response = await fetch('/admin/Jobs', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jobData)
            });

            if (response.ok) {
                  window.location.href = '/admin/Jobs';
            } else {
                console.log("co loi")
                document.getElementById('responseMessage').innerHTML = 'Có lỗi xảy ra khi thêm mới ';
            }
        } catch (error) {
            document.getElementById('responseMessage').innerHTML = 'Lỗi kết nối: ' + error.message;
        }
    });
</script>
</body>

</html>