<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{admin/fragments/head :: head}">

</head>

<body>
<div class="app">
    <div class="layout">
        <div th:replace="~{admin/fragments/header :: header}"> </div>
        <div th:replace="~{admin/fragments/sidenav :: sidenav}"> </div>


        <!-- Page Container START -->
        <div class="page-container">


            <!-- Content Wrapper START -->
            <div class="main-content">
                <form id="addUserForm">
                    <div class="page-header no-gutters has-tab">
                        <div class="d-md-flex m-b-15 align-items-center justify-content-between">


                        </div>
                    </div>
                    <div class="tab-content m-t-15">
                        <div class="tab-pane fade show active" id="product-edit-basic" >
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input type="file" id="userAvatar" onchange="uploadImage()">
                                        <img id="imageUrl" alt="Uploaded Image" style="width: 150px; height: 150px;">
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="accountName"> Tài khoản </label>
                                        <input type="text" class="form-control" id="accountName" >
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="password">Mật khẩu </label>
                                        <input type="password" class="form-control" id="password" >
                                    </div>

                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="userName">Tên người ứng tuyển </label>
                                        <input type="text" class="form-control" id="userName" >
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="userAddress">Địa chỉ</label>
                                        <input type="text" class="form-control" id="userAddress" >
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="userEmail">Email</label>
                                        <input type="text" class="form-control" id="userEmail"  >
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="userPhone">Điện thoại </label>
                                        <input type="text" class="form-control" id="userPhone"  >
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="description">Mô tả</label>
                                        <input type="text" class="form-control" id="description" >
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="role">Quyền </label>
                                        <select class="form-control" id="role" >
                                            <option value="3">Seeker</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="isActive" checked>
                                            <label class="form-check-label" for="isActive" >Hoạt động</label>
                                        </div>
                                    </div>


                                    <div class="m-b-15 text-right ">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="anticon anticon-save"></i>
                                            <span>Thêm mới</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>


        </div>
        <!-- Page Container END -->


        <!-- Search End-->

        <!-- Quick View START -->

        <!-- Quick View END -->
    </div>
</div>


<div th:replace="~{admin/fragments/script :: script}"></div>

<script>
    function uploadImage() {
    const fileInput = document.getElementById('userAvatar');
    const file = fileInput.files[0];
    const formData = new FormData();
    formData.append('file', file);

    fetch('/api/images/upload', {
        method: 'POST',
        body: formData
    })
    .then(response => response.text()) // Đọc phản hồi dưới dạng văn bản
    .then(data => {
        console.log("Image uploaded to Cloudinary:", data);
        document.getElementById("imageUrl").src = data; // Hiển thị ảnh tải lên
    })
    .catch(error => {
        console.error("Error uploading image:", error);
    });
}
    document.getElementById('addUserForm').addEventListener('submit', async function(event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của biểu mẫu
        const fileInput = document.getElementById('userAvatar');
        const file = fileInput.files[0];
        try {
            const formData = new FormData();
            formData.append('file', file);
            const uploadResponse = await fetch('/api/images/upload', {
                method: 'POST',
                body: formData
            });

            if (!uploadResponse.ok) {
                throw new Error('Lỗi khi tải ảnh lên Cloudinary');
            }

            // Lấy URL ảnh từ Cloudinary (dưới dạng text)
            const imageUrl = await uploadResponse.text();

            const accountData = {
            accountName: document.getElementById('accountName').value,
            password: document.getElementById('password').value,
            role: {
             roleId: document.getElementById('role').value
            },
            isActive: document.getElementById('isActive').checked,
            };

            // Lấy dữ liệu từ biểu mẫu
            const userData = {
                userAvatar: imageUrl,
                userName: document.getElementById('userName').value,
                userEmail: document.getElementById('userEmail').value,
                userAddress: document.getElementById('userAddress').value,
                userPhone: document.getElementById('userPhone').value,
                description: document.getElementById('description').value
            };
             const accountResponse = await fetch('/admin/Accounts', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(accountData)
            });

            if (!accountResponse.ok) {
            throw new Error('Lỗi khi thêm tài khoản');
            }

            const account = await accountResponse.json();
            userData.account = account;

            const response = await fetch('/admin/Users', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                    body: JSON.stringify(userData)
            });

            if (response.ok) {
                                 alert("Thêm mới thành công!");

                window.location.href = '/admin/Users';
            }else
            {
                                alert("Thêm mới thất bại!");
                document.getElementById('responseMessage').innerHTML = 'Có lỗi xảy ra khi thêm mới người dùng.';
            }
        }
        catch (error)
        {
            document.getElementById('responseMessage').innerHTML = 'Lỗi kết nối: ' + error.message;
        }
        });
</script>
</body>

</html>