<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{admin/fragments/head :: head}">

</head>

<body>
<div class="app">
  <div class="layout">
    <div th:replace="~{admin/fragments/header :: header}"> </div>
    <div th:replace="~{admin/fragments/sidenav :: sidenav}"> </div>


    <!-- Page Container START -->
    <div class="page-container">
      <div class="main-content">
        <div class="page-header">
          <h2 class="header-title">Orders </h2>
          <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
              <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
              <a class="breadcrumb-item" href="#">Apps</a>
              <a class="breadcrumb-item" href="#">E-commerce</a>
              <span class="breadcrumb-item active">Orders List</span>
            </nav>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row m-b-30">

              <div class="col-lg-4 text-left">
                <a class="btn btn-primary" href="/admin/Employer/Create">
                  <i class="anticon anticon-plus-circle m-r-5"></i>
                  <span style="color: white;">Thêm mới </span>
                </a>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-hover e-commerce-table">
                <thead>
                <tr>

                  <th>STT</th>
                  <th>Ảnh đại diện</th>
                  <th>Tên nhà tuyển dụng </th>
                  <th>Địa chỉ </th>
                  <th>Link website</th>
                  <th>Mô tả </th>
                  <th>Số lượng thành viên</th>
                  <th>Trạng thái</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div th:replace="~{admin/fragments/script :: script}"></div>

</body>
<script>
  fetch('/admin/Employer/data')
    .then(response => response.json())
      .then(data => {
        let tableBody = document.querySelector('tbody');
        tableBody.innerHTML = '';
        data.forEach((empl, index) => {
          tableBody.innerHTML += `
            <tr>
              <td> ${index + 1} </td>
              <td>
              <div class="d-flex align-items-center">
                <img class="img-fluid rounded" src="${empl.employerAvatar}" style="max-width: 60px;" alt="Avatar">
                <h6 class="m-b-0 m-l-10"></h6>
              </div>
              </td>
              <td> ${empl.employerName}</td>
              <td> ${empl.employerAddress}</td>
              <td> ${empl.employerWebsite}</td>
              <td> ${empl.description} </td>
              <td> ${empl.quantity} </td>
              <td>
              <div class="d-flex align-items-center">
                <div class="badge m-r-10 ${empl.isActive ? 'badge-success badge-dot' : 'badge-danger badge-dot'}"></div>
                <div>${empl.isActive ? 'Hoạt động' : 'Không hoạt động'}</div>
              </div>
              </td>
              <td class="text-right">
                <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right"
                      onclick="editEm(${empl.employerId})">
                  <i class="anticon anticon-edit"></i>
                </a>
                <button class="btn btn-icon btn-hover btn-sm btn-rounded"
                        onclick="deleteEm(${empl.employerId})">
                  <i class="anticon anticon-delete"></i>
                </button>
              </td>
            </tr>`;
      });
    })
    .catch(error => {
      console.error('Error:', error);
    });

    ///
  function deleteEm(employerId) {
    if (confirm('Bạn có chắc chắn muốn xóa blog này?')) {
      fetch(`/admin/Employer/${employerId}`, {
        method: 'DELETE',
      })
      .then(response => {
        if (response.ok) {
          // Xóa hàng khỏi bảng
          location.reload(); // Tải lại trang để cập nhật danh sách người dùng
        } else {
          alert('Có lỗi xảy ra khi xóa người dùng.');
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('Lỗi kết nối: ' + error.message);
      });
    }
  }
   function editEm(employerId) {
      window.location.href = `/admin/Employer/Edit/${employerId}`; // Ví dụ cách điều hướng
  }



</script>
</html>