<!-- Side Nav START -->
<div class="side-nav" th:fragment="sidenav" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li>
                <a class="dropdown-toggle" href="/admin/Accounts">
                                <span class="icon-holder">
									<i class="anticon anticon-build"></i>
								</span>
                    <span class="title">Quản lý tài khoản </span>
                    <span class="arrow">
									<i class="arrow-icon"></i>
								</span>
                </a>
            </li>
            <li >
                <a class="dropdown-toggle" href="/admin/Employer">
                                <span class="icon-holder">
                                    <i class="anticon anticon-dashboard"></i>
                                </span>
                    <span class="title">Quản lý nhà tuyển dụng</span>
                    <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                </a>

            </li>
            <li >
                <a class="dropdown-toggle" href="/admin/Users">
                                <span class="icon-holder">
                                    <i class="anticon anticon-appstore"></i>
                                </span>
                    <span class="title">Quản lý người xin việc</span>
                    <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                </a>
            </li>

            <li>
                <a class="dropdown-toggle" href="/admin/Branch">
                                <span class="icon-holder">
                                    <i class="anticon anticon-table"></i>
								</span>
                    <span class="title">Quản lý ngành nghề  </span>
                    <span class="arrow">
									<i class="arrow-icon"></i>
								</span>
                </a>
            </li>
            <li>
                <a class="dropdown-toggle" href="/admin/Blog">
                                <span class="icon-holder">
                                    <i class="anticon anticon-hdd"></i>
                                </span>
                    <span class="title">Quản lý bài viết </span>
                    <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                </a>

            </li>
            <li >
                <a class="dropdown-toggle" href="/admin/statistical">
                                <span class="icon-holder">
                                    <i class="anticon anticon-form"></i>
                                </span>
                    <span class="title">Thống kê </span>
                    <span class="arrow">
                                    <i class="arrow-icon"></i>
                                </span>
                </a>

            </li>

        </ul>
    </div>
</div>
<!-- Side Nav END -->