<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
  <title th:text="${pageTitle}"></title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="Free-Template.co" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  <!-- Tải JavaScript của flatpickr -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <!-- Tải ngôn ngữ tiếng Việt (vi.js) -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/vi.js"></script>

  <link rel="stylesheet" th:href="@{/assets1/css/custom-bs.css}">

  <link rel="stylesheet" th:href="@{/assets1/css/jquery.fancybox.min.css}">

  <link rel="stylesheet" th:href="@{/assets1/css/bootstrap-select.min.css}">

  <link rel="stylesheet" th:href="@{/assets1/fonts/icomoon/style.css}">

  <link rel="stylesheet" th:href="@{/assets1/fonts/line-icons/style.css}">

  <link rel="stylesheet" th:href="@{/assets1/css/owl.carousel.min.css}">

  <link rel="stylesheet" th:href="@{/assets1/css/animate.min.css}">

  <link rel="stylesheet" th:href="@{/assets1/css/quill.snow.css}">

  <!-- MAIN CSS -->
  <link rel="stylesheet" th:href="@{/assets1/css/style.css}">

</head>