<header class="site-navbar mt-3" th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="site-logo col-6"><a href="index.html">JobBoard</a></div>

      <nav class="mx-auto site-navigation">
        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
          <li><a href="/" >Trang Chủ</a></li>
          <li><a href="/JobList">Danh sách việc làm </a></li>
          <li><a href="/Blog">Bài viết </a></li>
          <li><a href="/user/cv">Quản lý Cv </a></li>





        </ul>
      </nav>

      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
          <div th:if="${session.account == null or session.account.role.roleName != 'Seeker'}">
            <a href="/login" class="btn btn-primary border-width-2 d-none d-lg-inline-block">
              <span class="mr-2 icon-lock_outline"></span>Đăng nhập
            </a>
          </div>
          <div th:if="${session.account != null and session.account.role.roleName == 'Seeker'}">
            <span>Xin chào, <span th:text="${session.account.accountName}">Seeker</span>!</span>
            <form action="/logout" method="post" style="display:inline;">
              <button type="submit" class="btn btn-primary border-width-2">Log Out</button>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>
</header>