<div th:fragment="script" xmlns:th="http://www.w3.org/1999/xhtml">

<script th:src="@{/assets1/js/jquery.min.js}"></script>
<script th:src="@{/assets1/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets1/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/assets1/js/stickyfill.min.js}"></script>
<script th:src="@{/assets1/js/jquery.fancybox.min.js}"></script>
<script th:src="@{/assets1/js/jquery.easing.1.3.js}"></script>

<script th:src="@{/assets1/js/jquery.waypoints.min.js}"></script>
<script th:src="@{/assets1/js/jquery.animateNumber.min.js}"></script>
<script th:src="@{/assets1/js/owl.carousel.min.js}"></script>

<script th:src="@{/assets1/js/bootstrap-select.min.js}"></script>
<script th:src="@{/assets1/js/quill.min.js}"></script>

<script th:src="@{/assets1/js/custom.js}"></script>
</div>
